* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 12px;
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #cdd6f4;
}

.modules-left,
.modules-right,
.modules-center {
    background: rgba(30, 18, 54, 0.85);
    border-radius: 12px;
    margin: 4px 6px;
    padding: 0 4px;
}

#workspaces button {
    padding: 0 6px;
    color: #6c7086;
    min-height: 0;
}

#workspaces button.active {
    color: #cdd6f4;
}

#clock,
#cpu,
#memory,
#pulseaudio,
#battery,
#tray,
#backlight {
    padding: 0 8px;
    color: #cdd6f4;
}

#battery.warning { color: #f9e2af; }
#battery.critical { color: #f38ba8; }

#backlight-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
    background: none;
}

#backlight-slider trough {
    min-height: 2px;
    min-width: 60px;
    border-radius: 5px;
    background: #333;
}

#backlight-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background: royalblue;
}

#custom-power {
    padding: 0 12px;
    color: #f38ba8;
    font-size: 14px;
}
